* {
    margin: 0;
    padding: 0;
}

body {
    position: relative;
    font-family: "Georgia", sans-serif;
    font-size: 17px;
    background-color: #f7f5fd;
    color: #46464f;
}

h1,
h2 {
    margin: 20px;
}

main {
    padding: 60px 0;
}

li {
    display: inline;
    padding: 0px 20px;
    text-decoration: none;
}

a {
    text-decoration: none;
    color: #f6f5fd;
}

header,
footer {
    height: 60px;
    width: 100%;
    line-height: 60px;
    background-color: #262761;
}

header {
    position: fixed;
    border-bottom: 10px solid #9b94dd;
}

footer {
    position: absolute;
    margin-top: 0;
    bottom: 0;
    border-bottom: 10px solid #46474f;
    color: #f5f5fd;
}

figure {
    margin-bottom: 40px;
}

#bold-text {
font-weight: bolder;
}

img {
    display: block;
    margin: 20px auto;
}

section {
    margin-bottom: 0;
    padding: 20px 10px 40px 10px;
    border-top: 3px solid #9495dd;
    background-color: #bfc3e8;
}

form {
    margin: 0 auto;
    width: 500px;
    padding: 20px;
    border: 5px solid #9594dd;
    border-radius: 20px;
}

label {
    display: inline-block;
    width: 100px;
}

input,
textarea {
    box-sizing: border-box;
    width: 300px;
    border: 1px solid #46474f;
}

textarea {
    vertical-align: top;
    height: 60px;
}

button {
    margin-top: 20px;
    height: 40px;
    width: 120px;
    background-color: #46474f;
    color: #f5f6fd;
}

.text-center {
    text-align: center;

}

.text-right {
    text-align: right;
}